<% include partials/header.ejs %>
<main class="container">
  <h1 class="d-block text-center">Desafio 1</h1>
  <p class="d-block text-center">
    Listar os websites de todos os usuários
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Websites</th>
      </tr>
    </thead>
    <tbody>
      <% websites.map( website => { %>
      <tr>
        <td><%= website %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<% include partials/footer.ejs %>
