<% include partials/header.ejs %>
<main class="container">
  <h1 class="d-block text-center">Desafio 2</h1>
  <p class="d-block text-center">
    O Nome, email e a empresa em que trabalha (em ordem alfabética)
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Empresa</th>
      </tr>
    </thead>
    <tbody>
      <% result.map( res => { %>
      <tr>
        <td><%= res.nome %></td>
        <td><%= res.email %></td>
        <td><%= res.empresa %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<% include partials/footer.ejs %>
