<% include partials/header.ejs %>
<main class="container">
  <h1 class="d-block text-center">Desafio 3</h1>
  <p class="d-block text-center">
    Mostrar todos os usuários que no endereço contem a palavra ```suite```
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Username</th>
        <th scope="col">E-mail</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Suíte</th>
        <th scope="col">Cidade</th>
        <th scope="col">CEP</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
      </tr>
    </thead>
    <tbody>
      <% usuarios.map( usuario => { %>
      <tr>
        <td><%= usuario.name %></td>
        <td><%= usuario.username %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.address.street %></td>
        <td><%= usuario.address.suite %></td>
        <td><%= usuario.address.city %></td>
        <td><%= usuario.address.zipcode %></td>
        <td><%= usuario.address.geo.lat %></td>
        <td><%= usuario.address.geo.lng %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<% include partials/footer.ejs %>
