<% include partials/header.ejs %>
<main class="container">
  <h1 class="d-block text-center">Desafio Mutant</h1>
  <p class="d-block text-center">
    Navegue no menu na barra superior para ver o resultado dos desafios.
  </p>
</main>
<% include partials/footer.ejs %>
